<nav class="nav-center teal darken-3" role="navigation">
  <div class="nav-wrapper container">
    <ul>
      <li><a href="http://ec2-13-56-193-105.us-west-1.compute.amazonaws.com:3000/">SEARCH</a></li>
      <li><a href="http://ec2-13-56-193-105.us-west-1.compute.amazonaws.com:3000/searchdb">COMPARE</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <br>
    <h5 class="white-text center">League Summoner Finder</h5>
    <form id="compareForm" class="col s12" action="/compare" method="get">
      <div class="row">
        <div class="input-field col s12 m6 l3 offset-l3">
          <input type="text" id="summoner1" name="summoner1" class="validate">
          <label for="summoner">Summoner 1</label>
        </div>
        <div class="input-field col s12 m6 l3">
          <input type="text" id="summoner2" name="summoner2" class="validate">
          <label for="summoner">Summoner 2</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light col s4 l2 offset-l5 offset-s4" form="compareForm" type="submit">Compare</button>
      </div>
    </form>
    <br>
  </div>
  {{#if info}}
    <div class="row">
      <div class="col s6 center">
        <h4 class="white-text center">{{info.name}}{{info.error}}</h4>
      </div>
      <div class="col s6 center">
        <h4 class="white-text center">{{info.name2}}{{info.error}}</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey}}_0.jpg">
            <span class="card-title">{{info.championName}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane}}
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.champion2Key}}_0.jpg">
            <span class="card-title">{{info.champion2Name}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.champion2Lane}}
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey1}}_0.jpg">
            <span class="card-title">{{info.championName1}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane1}}
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.champion2Key1}}_0.jpg">
            <span class="card-title">{{info.champion2Name1}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.champion2Lane1}}
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey2}}_0.jpg">
            <span class="card-title">{{info.championName2}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane2}}
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.champion2Key2}}_0.jpg">
            <span class="card-title">{{info.champion2Name2}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.champion2Lane2}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
