<nav class="nav-center teal darken-3" role="navigation">
  <div class="nav-wrapper container">
    <ul>
      <li><a href="http://ec2-13-57-8-21.us-west-1.compute.amazonaws.com:3000/">SEARCH</a></li>
      <li><a href="http://ec2-13-57-8-21.us-west-1.compute.amazonaws.com:3000/compare">COMPARE</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s12">
      <br>
      <h5 class="white-text center">League Summoner Finder</h5>
    </div>
  </div>
  <div class="row">
    <form id="searchForm" class="col s12" action="/search" method="get">
      <div class="input-field col s12 m6 l4 offset-l4 offset-m3">
        <input type="text" id="summoner" name="summoner" class="validate">
        <label for="summoner">Summoner Name</label>
      </div>
      <br>
    </form>
  </div>
  <div class="row">
    <br>
    <button class="btn waves-effect waves-light col s6 m2 l2 offset-l4 offset-m4 teal darken-2" form="searchForm" type="submit">ONLINE</button>
    <button class="btn waves-effect waves-light col s6 m2 l2 teal darken-2" form="searchForm" formaction="/searchdb" type="submit">DATABASE</button>
    <br>
  </div>
  <br>
  {{#if info}}
    <div class="row">
      <div class="col s12 center">
        <h4 class="white-text center">{{info.name}}{{info.error}}</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s8 m4 offset-s2">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey}}_0.jpg">
            <span class="card-title">{{info.championName}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane}}
          </div>
        </div>
      </div>
      <div class="col s8 m4 offset-s2">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey1}}_0.jpg">
            <span class="card-title">{{info.championName1}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane1}}
          </div>
        </div>
      </div>
      <div class="col s8 m4 offset-s2">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey2}}_0.jpg">
            <span class="card-title">{{info.championName2}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane2}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s8 m4 offset-s2 offset-m2">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey3}}_0.jpg">
            <span class="card-title">{{info.championName3}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane3}}
          </div>
        </div>
      </div>
      <div class="col s8 m4 offset-s2">
        <div class="card">
          <div class="card-image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{info.championKey4}}_0.jpg">
            <span class="card-title">{{info.championName4}}</span>
          </div>
          <div class="card-content center">
            Lane: {{info.championLane4}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
